<div class="row" style="text-align: center">
    <div class="col-md-3">
        <button class="btn btn-success" (click)="newTopic()">New Topic</button>
    </div>
    <div class="col-md-3">
        <button class="btn btn-danger" (click)="deleteEntry()">Delete Topic</button>
    </div>
</div>
<hr>
<div class="row" style="text-align: center">
    <div class="col-md-3">
        <p >Author</p>
        <input [(ngModel)]="authorSearchParam">
    </div>
    <div class="col-md-3">
        <p style="text-align: center">Tags</p>
        <input
            placeholder="comma separated"
            [(ngModel)]="tagSearchParam">
    </div>
    <div class="col-md-5">
        <br>
        <button class="btn btn-default" (click)="searchEntries()">Search topics</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div
            *ngFor="let entryEl of entriesList"
            (click)="onSelected(entryEl)">
            <div class="pull-left">
                <h4 class="list-group-item-heading topic-title" [ngClass]="{'selected-topic-title' : entryEl == selectedEntry}">
                    {{ entryEl.title }}</h4>
            </div>
            <span class="pull-right">
            </span>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div
            *ngFor="let entryEl of entriesListForTwitter"
            (click)="onSelected(entryEl)">
            <div class="pull-left">
                <h4 class="list-group-item-heading topic-title" [ngClass]="{'selected-topic-title-tw' : entryEl == selectedEntry}">
                    {{ entryEl.title }}</h4>
            </div>
            <span class="pull-right">
            </span>
        </div>
    </div>
</div>
