.topic-title {
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
    border: 1px black;
}

.selected-topic-title {
    background: #fc8c84;
}

.selected-topic-title-tw {
    background: dodgerblue;
}
